body{
    background-color: black;
}


h1 {
    font-family: Verdana;
    font-size: 50px;
    color: white;
    text-align: center;

}

h2 {
    font-family: Verdana;
font-weight: bold;
font-size: 42px;
text-align: center;
}

.link {
    font-family: Verdana;
    font-size: 16px;
}

.subtitle {
    font-family: Verdana;
        font-size: 21px;
        color: grey;
        text-align: center;

}
a{
    color: aquamarine;
}

p{
    text-align: center;
}

.camp{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.phone{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  
}

video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

}
    
.copyright{
    font-family: Verdana;
    color:gray;
    text-align: right;
}